*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(1, 1, 109);
    color: #333;

}

header{
    background-color: #040036;
    color:#333;
    text-align: center;
    padding: 20px;
}

h1{
    font-size:  26px;
    

}